version: "3.8"
services:
  mysqldb:
    container_name: mysqldb
    image: mysql:9.0.1
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
    volumes:
      - db:/var/lib/mysql

  devops-project:
    container_name: devops_project
    image: medloukil/devops_project:0.0.1-SNAPSHOT
    depends_on:
      - mysqldb
    build: ./
    restart: on-failure
    ports:
      - "8089:8089"
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true

volumes:
  db: